*{
  box-sizing: border-box;
  padding: 20px;
  margin:20px;
}


body {
  background-color: floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  font-size: larger;
}


h1 {
  text-align: center;
  color: navy;
  font-size: 56px;
}

main p {
  text-align: center;
  color: navy;
  font-size: 40px;


}

main button {
  display: grid;
  background-color: navy;
  padding: 20px;
  width: 200px;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.quiz h2{
  font-size: 36px;
  color:navy;
}
.btn{
  background-color: gainsboro;
  color: navy;
  font-size: 32px;
  width: 100%;
  border: 1px solid navy;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor:pointer;
}

.btn.hover.btn.hover:not([disabled]){
  background-color: #222;
  color: #fff;
}
.btn.disabled{
  cursor: no-drop;
}
#next-btn{
  display: none;
  background-color: navy;
  padding: 20px;
  width: 200px;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  cursor: pointer;

}  

.correct{
  background-color: darkgreen;
}
.incorrect{
  background-color:crimson;
}